.font-orbitron{
	font-family: "Orbitron", sans-serif;
}

#myImage{
    animation:float-image 2s infinite ease-in-out;
}

.floating-animation{
    animation:float-image 2s infinite ease-in-out;
}


@keyframes float-image {

0%{
    transform:translateY(0);
}

50%{
    transform:translateY(-1.0rem);
}

100%{
    transform:translateY(0);
}


}